@font-face {
    font-family: Inconsolata;
     src: url("fonts/Inconsolata-Regular.ttf");
   }
* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    color: #264d00;
}
header {
    background-color:#fff0b3;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color:#264d00;
    transition: color 0.3s;
    }
a:hover {
    text-decoration: none;
    color:#00bfff;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-item {
    padding: 0 10px;
}
footer {
    background-color:#fff0b3;
    font-size: 0.9em;
    text-align: right;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;   
    padding: 15px 10px 15px 10px;
    border-bottom: 6px dotted #d1e0e0;
}
.profile .photo {
    width: 300px; 
    box-shadow: 0 2px 9px #669999; 
}
.profile .info {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    text-transform: uppercase;
}
.title .main{
    color: #86592d;
    letter-spacing: 2px;
    word-spacing: 3px;
    border-bottom: solid 3px #d1e0e0;
}
.title .sub {
    color: #996633;
    font-weight: 400;
}
.section {
    width: calc(50% - 20px);
    padding: 2px;
    border-bottom: 3px dotted #d1e0e0;
    font-size: 18px;
    line-height: 1.3;
}
.profile-item {
    margin-bottom: 10px;
}
.last-item {
    border-bottom: none;
}